@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}



header {
    overflow: hidden;
    width: 100vw;
}

.imglogo {
    padding: 10px;
}

menu {
    display: flex;
    justify-content: space-between;
    height: 50px;
    
}

ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 10px;
}

ul a {
    text-decoration: none;
}

li {

    padding: 10px;
}

.article-container {
    padding: 20px;
}

.puzzleimage {
    background: url(assets/images/image-web-3-mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 450px;
    width: 100%;
    
}

.Future-of-web {
    padding-bottom: 30px;
}

.Future-of-web > p {
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 1.5rem;
}

.read-more {
    display: block;
    background-color: #F15C51;
    text-align: center;
    width: 150px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}

.news {
    color: white;
    background-color: hsl(240, 100%, 5%);
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.news > h1 {
    color: #dfac6a;
    padding-bottom: 20px;
    
}

.news > h2 {
    padding-bottom: 10px;
}

.paragrafo-com-borda{
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
}

.paragrafo-sem-borda {
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.aside1-container {
    display: grid;
    
    
    grid: 
    "image h1" 80px
    "image h2" 50px
    "image p"  80px / 165px;
    column-gap: 15px;
}

.aside1-container h1 {
    grid-area: h1;
    font-size: 2.5em;
    
    
    
}

.aside1-container h2 {
    grid-area: h2;
    
   
}

.aside1-container p {
    grid-area: p;
    
    padding: 5px;
    line-height: 25px;
    font-size: 1.2em;
    
   
}

.aside1 {
    background: url(assets/images/image-retro-pcs.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    
    
    grid-area: image;
    
    
}

.aside2 {
    
}

.aside3 {
    
}