@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
    
}

body {
    overflow-x: hidden;
    max-width: 100vw;
}

header {
    overflow-x: hidden;
    width: 100vw;
    
}

.imglogo {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    font-size: 1em;
    overflow-x: hidden;
}


.menu-faketrigger {
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    opacity: 0;
    margin: 10px;
    overflow-x: hidden;
}



.menu-lines {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    z-index: 999;
    width: 35px;
    height: 35px;
    
}

.menu-lines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #454545;
    border-radius: 3px;
    transition: all ease .3s;
    overflow: hidden;
}

.menu-faketrigger:checked ~ .menu-lines span {
    /*background-color: #232323;*/
}

.menu-faketrigger:checked ~ .menu-lines span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);
}

.menu-faketrigger:checked ~ .menu-lines span:nth-child(2) {
    opacity: 0;
}

.menu-faketrigger:checked ~ .menu-lines span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}



.menu ul {
    position: absolute;
    z-index: 998;
    right: 0;
    top: 0;
    inset: 0 0 0 20%;
    height: 100vh;
    padding-top: 100px;
    background-color: rgb(252, 252, 252) / 0.999;
    
    list-style-type: none;
    line-height: 50px;
    transition: .3s;
    font-size: 1.3em;
    backdrop-filter: blur(1.5rem);
    transform: translateX(100%);
    overflow-x: hidden;
}

.menu-faketrigger:checked ~ ul {
    transform: translateX(0);
    
}

ul > li > a { 
    padding: 10px;  
    text-decoration: none; 
    color: rgb(252, 252, 252);
    overflow-x: hidden;
}

a:hover {
    text-decoration: underline;
    text-decoration-style:dashed;
    text-decoration-color: #dfac6a;
    transition: all ease .5s;
}



.menu-faketrigger:checked main {
    opacity: .5;
    
}



.article-container {
    padding: 20px;
    
}

.puzzleimage {
    background: url(assets/images/image-web-3-mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 450px;
    width: 100%;
    margin-bottom: -130px;
}

.Future-of-web {
    padding-bottom: 30px;
    
}

.Future-of-web > h1 {
    font-size: 2.5em;
}

.Future-of-web > p {
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 1.5rem;
}

.read-more {
    display: block;
    background-color: #F15C51;
    text-align: center;
    width: 150px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}
/* /////////////// NEWS ///////////////*/
.news {
    color: white;
    background-color: hsl(240, 100%, 5%);
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.news > h1 {
    color: #dfac6a;
    padding-bottom: 20px;
    
}

.news > h2 {
    padding-bottom: 10px;
}

.paragrafo-com-borda{
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
}

.paragrafo-sem-borda {
    padding-bottom: 20px;
    margin-bottom: 10px;
}
/* /////////////// ASIDE-CONTAINER 1 ///////////////*/
.aside1-container {
    display: grid;
    grid: 
    "image h1" 80px
    "image h2" 50px
    "image p"  80px / 165px;
    column-gap: 15px;
    padding-bottom: 30px;
}

.aside1-container h1 {
    grid-area: h1;
    font-size: 2.5em;
    
    
    
}

.aside1-container h2 {
    grid-area: h2;
    margin-top: -34px;
   
}

.aside1-container p {
    grid-area: p;
    line-height: 25px;
    font-size: 1em;
    margin-top: -17px;
    overflow: hidden;
}

.aside1 {
    background: url(assets/images/image-retro-pcs.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: image;
    
    
}


/* /////////////// ASIDE-CONTAINER 2 ///////////////*/
.aside2-container {
    display: grid;
    grid: 
    "image h1" 80px
    "image h2" 50px
    "image p"  80px / 165px;
    column-gap: 15px;
    padding-bottom: 30px;
}

.aside2-container h1 {
    grid-area: h1;
    font-size: 2.5em;
    
    
    
}

.aside2-container h2 {
    grid-area: h2;
    margin-top: -34px;
   
}

.aside2-container p {
    grid-area: 1p;
    line-height: 25px;
    padding-top: 20px;
    font-size: 1em;
    margin-top: -9px;
}

.aside2 {
    background: url(assets/images/image-top-laptops.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: image;
    
    
}

/* /////////////// ASIDE-CONTAINER 3 ///////////////*/
.aside3-container {
    display: grid;
    grid: 
    "image h1" 80px
    "image h2" 50px
    "image p"  80px / 165px;
    column-gap: 15px;
    
}

.aside3-container h1 {
    grid-area: h1;
    font-size: 2.5em;
    
    
    
}

.aside3-container h2 {
    grid-area: h2;
    margin-top: -34px;
   
}

.aside3-container p {
    grid-area: 1p;
    line-height: 25px;
    padding-top: 20px;
    font-size: 1em;
    margin-top: -34px;
}

.aside3 {
    background: url(assets/images/image-gaming-growth.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: image;
 
}

