@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
    
}

body {
    display: grid;
    min-height: 100vh;
    overflow-x: hidden;
    grid-template-rows: min-content 1fr;
}

menu {
    
}

header {
    overflow-x: hidden;
    
}

.imglogo {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    font-size: 1em;
    overflow-x: hidden;
}

@media  (min-width: 35rem) {
    
}
.menu-faketrigger {
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    opacity: 0;
    margin: 10px;
    overflow-x: hidden;
}



.menu-lines {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    z-index: 999;
    width: 35px;
    height: 35px;
    
}

.menu-lines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #454545;
    border-radius: 3px;
    transition: all ease .3s;
    overflow: hidden;
}

.menu-faketrigger:checked ~ .menu-lines span {
    /*background-color: #232323;*/
}

.menu-faketrigger:checked ~ .menu-lines span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);
}

.menu-faketrigger:checked ~ .menu-lines span:nth-child(2) {
    opacity: 0;
}

.menu-faketrigger:checked ~ .menu-lines span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}


@media screen and (min-width: 360px) and (max-width: 720px){
    .menu ul {
    position: fixed;
    z-index: 998;
    inset: 0 0 0 30%;
    height: 100vh;
    padding-top: 100px;
    list-style-type: none;
    line-height: 50px;
    transition: .3s;
    font-size: 1.3em;
    backdrop-filter: blur(1.5rem);
    transform: translateX(100%);
    overflow-x: hidden;
}

}



.menu-faketrigger:checked ~ ul {
    transform: translateX(0%);
}

ul > li > a { 
    padding: 10px;  
    text-decoration: none; 
    color: rgb(252, 252, 252);
    overflow-x: hidden;
}

a:hover {
    text-decoration: underline;
    text-decoration-style:dashed;
    text-decoration-color: #dfac6a;
    transition: all ease .5s;
}



.menu-faketrigger:checked main {
    opacity: .5;
    
}



.article-container {
    padding: 20px;
    
}

.puzzleimage {
    background: url(assets/images/image-web-3-mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 350px;
    width: 100%;
    margin-bottom: 0px;
}

.Future-of-web {
    padding-bottom: 30px;
    
}

.Future-of-web > h1 {
    font-size: 2.5em;
}

.Future-of-web > p {
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 1.5rem;
}

.read-more {
    display: block;
    background-color: #F15C51;
    text-align: center;
    width: 150px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}
/* /////////////// NEWS ///////////////*/
.news {
    color: white;
    background-color: hsl(240, 100%, 5%);
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.news > h1 {
    color: #dfac6a;
    padding-bottom: 20px;
    
}

.news > h2 {
    padding-bottom: 10px;
}

.paragrafo-com-borda{
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
}

.paragrafo-sem-borda {
    padding-bottom: 20px;
    margin-bottom: 10px;
}
/* /////////////// ASIDE-CONTAINER 1 ///////////////*/
.aside1-container {
    display: grid;
    grid: 
    "image h1" 80px
    "image h2" 50px
    "image p"  80px / 165px;
    column-gap: 15px;
    padding-bottom: 30px;
}

.aside1-container h1 {
    grid-area: h1;
    font-size: 2.5em;
    
    
    
}

.aside1-container h2 {
    grid-area: h2;
    margin-top: -34px;
   
}

.aside1-container p {
    grid-area: p;
    line-height: 25px;
    font-size: 1em;
    margin-top: -17px;
    overflow: hidden;
}

.aside1 {
    background: url(assets/images/image-retro-pcs.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: image;
    
    
}


/* /////////////// ASIDE-CONTAINER 2 ///////////////*/
.aside2-container {
    display: grid;
    grid: 
    "image h1" 80px
    "image h2" 50px
    "image p"  80px / 165px;
    column-gap: 15px;
    padding-bottom: 30px;
}

.aside2-container h1 {
    grid-area: h1;
    font-size: 2.5em;
    
    
    
}

.aside2-container h2 {
    grid-area: h2;
    margin-top: -34px;
   
}

.aside2-container p {
    grid-area: 1p;
    line-height: 25px;
    padding-top: 20px;
    font-size: 1em;
    margin-top: -9px;
}

.aside2 {
    background: url(assets/images/image-top-laptops.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: image;
    
    
}

/* /////////////// ASIDE-CONTAINER 3 ///////////////*/
.aside3-container {
    display: grid;
    grid: 
    "image h1" 80px
    "image h2" 50px
    "image p"  80px / 165px;
    column-gap: 15px;
    
}

.aside3-container h1 {
    grid-area: h1;
    font-size: 2.5em;
    
    
    
}

.aside3-container h2 {
    grid-area: h2;
    margin-top: -34px;
   
}

.aside3-container p {
    grid-area: 1p;
    line-height: 25px;
    padding-top: 20px;
    font-size: 1em;
    margin-top: -34px;
}

.aside3 {
    background: url(assets/images/image-gaming-growth.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: image;
 
}


@media screen and (min-width: 1024px) {

    header {
        
        padding: 20px 100px 0px 100px;
        
        height: auto;
    }

    .imglogo {
        padding: 0px;
    }

    menu {
        display: flex;
        justify-content: space-between;
        padding: 50px 50px 0px 50px;
    }
    .menu-lines {
        display: none;
    }

    .menu-faketrigger {
        display: none;
    }

    .menu-lines span {
        display: none;
    }

    .menu ul {
        position: unset;
        display: flex;
        justify-items: center;
        padding-top: 0px;
        line-height: normal;
        transition: none;
        backdrop-filter: unset;
        height: 50px;
        font-size: 1.3em;
        list-style: none;
        overflow-x: hidden;
    }

    ul > li > a { 
        
        padding: 10px;  
        text-decoration: none; 
        color: rgb(0, 0, 0);
        overflow-x: hidden;
    }

    a:hover {
        text-decoration: none;
        text-decoration-style: none;
        color: #dfac6a;
        transition: all ease .2s;
    }

    main {
        padding: 0px 100px 0px 100px;
        
    }

    .article-container {
        padding: 30px 50px 50px 50px;
        
    }

    .puzzleimage {
        grid-area: puzzleimage;
        background: url(assets/images/image-web-3-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 350px;
        margin: 0px;
        margin-bottom: 0px; 
    }

    .container-future-of-web {
        display: grid;
        grid: 
        "puzzleimage news" auto
        "Future-of-web news" 200px;
        margin-bottom: 100px;
        gap: 60px;
    }

    .Future-of-web {
        grid-area: Future-of-web;
        display: grid;
        grid: 
        "h1 p" 160px 
        "h1 a" 40px;
        width: 100%;
        padding-bottom: 0px;
        
    }

    .Future-of-web h1 {
        grid-area: h1;
        width: 400px;
        font-size: 3.7em;
    }

    .Future-of-web p {
        grid-area: p;
        padding: 50px;
        color: rgb(90, 88, 88);
        font-size: 1.5em;
        margin-top: 20px;
        padding-bottom: 0px;
        padding-top: 0px;
        
        max-width: 600px;
        min-width: 500px;
    }

    .Future-of-web a {
        grid-area: a;
        height: 40px;
        width: 170px;
        text-decoration: none;
        margin-left: 50px;
    }

    .read-more {
        font-size: 1.1em;
    }

    .read-more:hover {
        color: white;
    }

    .Future-of-web a:hover {
        background-color: #00001A;
    }

    .news {
        grid-area: news; 
        padding: 30px;
        max-width: 540px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .news h1 {
        font-size: 2.5em;
    }

    .news h2:hover {
        color: #dfac6a;
        cursor: pointer;
    }   

    .paragrafo-com-borda {
        padding-bottom: 50px;
        margin-bottom: 60px;
        
    }

    .aside-container-geral {
        display: grid;
        grid: "aside1 aside2 aside3";
        gap: 60px;
    }

    .aside1-container {
        grid-area: aside1;
    }

    .aside2-container {
        grid-area: aside2;
    }

    .aside2-container p {
        line-height: 25px;
        padding-top: 0px;
        font-size: 1em;
        margin-top: -9px;
    }

    .aside3-container {
        grid-area: aside3;
    }
}



